body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  margin: 0;
  padding: 0 15px 20px 15px;
  height: 100vh; /* Заполнение всей видимой области экрана */
  background: linear-gradient(90deg, #f0aceb, #3c84ce, #30eee2, #ef7575);
  background-size: 400% 100%;
  animation: gradientAnimation 20s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

h2,
p {
  margin-bottom: 0;
  margin-top: 0;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 100%;
  max-height: 100%;

  margin-left: auto;
  margin-right: auto;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background-color: rgb(127, 255, 212, 0.8);
}

input {
  color: #11375d;
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form-btn {
  color: #11375d;
  background-color: rgb(252, 248, 248);
  width: 80px;
  height: 30px;

  outline: none;
  border: none;

  margin-left: 20px;
  border-radius: 5px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: aliceblue;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  margin-top: 100px;
}

.photo-card {
  width: calc((100% - 45px) / 4);

  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(40, 36, 6, 0.7);
}

.photo-img {
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: center;
  gap: 15px;

  padding: 12px 10px;
}

.info-item {
  color: aliceblue;
}

.b {
  margin-top: 10px;
}

.load-more {
  display: block;
  margin: auto;

  margin-top: 40px;
  width: 175px;
  height: 30px;

  color: #11375d;
  background-color: aliceblue;
  font-size: 16px;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
